@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/* Home Page*/

.item-a {
    grid-area: header;
    background-color: aqua;
}

.item-b {
    grid-area: main;
    background-color:rgb(235, 144, 144) ;
}

.item-c {
    grid-area: footer;
    background-color: rgb(115, 115, 192);
}

.container {
    display: grid;
    /*grid-gap: 15px;*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 125px auto 125px;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
}

html{
    font-size: 20px;
    /*font-family: "helvetica neue", sans-serif;*/
}

body{
    margin: 10px;
    box-sizing: border-box;
} 

#top-header {
    display: flex;
    padding: 25px;
    justify-content: space-between;
}

#top-header > img {
    height: 60px;
    width: 60px;
}

#top-nav {
    display: flex;
    column-gap: 16px;
}

#top-nav > li {
    list-style: none;
}

#top-nav > li > a {
    text-decoration: none;
    color:black;
}

#top-nav > li > a:visited{
    text-decoration: none;
    color:blue;
}

#top-nav > li > a:hover{
    text-decoration: none;
    color:red;
}
#top-nav > li > a:active{
    text-decoration: none;
    color:hotpink;
}

#section-main-container {
    display: flex;
    flex-direction: column;
    margin: 3% 0 3% 0 ;
}

h2 {
    margin-left: 40px;
    font-size: 1.5rem;
    text-decoration:underline;
}

#section-main-sub-container > figure > a > img {
    width: 160px;
}

#section-main-sub-container {
    display: flex;
    flex-wrap: wrap;
    /*border-bottom: 2px solid black;*/
}

#section-main-sub-container > figure > figcaption {
    text-align:center;
    font-size: 1rem;
}

.section-container {
    display: flex;
    flex-direction: column;
    margin: 2% 0 2% 0;
    justify-content: space-around;
    
    
}
.section-container > p {
    text-align: justify;
    padding-right:40px;
}


.section-sub-container > figure > img {
    width: 100%;
    height: auto;
    
}   

    
.section-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self:flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;
    
 }

 button > a {
     color:white;
     text-decoration:none;
     cursor: pointer;
 }

 button:hover{
    background-color:grey;
    cursor: pointer;
}

p {
    margin-left: 40px;
    /*font-size: 1rem;*/
}

button {
    background-color:black;
    color: white;
    border-radius: 20px;
    border: none;
    width: 100px;
    height:30px;
}

.div-section {
   display: flex;
   width: 100%;
   height:auto;
}

#bottom-footer {
    display: flex;
    justify-content:center;
    padding:25px;
}

#bottom-nav > li > a:hover {
    color:rgba(163, 25, 25, 0.7);
}

#bottom-footer > img {
    height: 60px;
    width: 60px;
}

#bottom-nav {
    display: flex;
    column-gap: 32px;
}

#bottom-nav > li {
    list-style: none;
}

#bottom-nav > li > a {
    text-decoration: none;
    color:black;
}

/* About Me Page*/

#about-me {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding-left:20px;
}

#my-para {
    display: flex;
    column-gap:40px;
    align-items: flex-start;
}

#my-para > img {
    width: 70vw;
}

#my-para > p {
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    margin-right: 40px;
    margin-top: 0;
    text-align: justify;
    line-height: 25px;
    text-transform: none;
}

#faq > details > summary{
    padding: 0px 20px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
}

#faq > details {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    padding: 0px 20px;
}

/* ContactUs Page */

#contact {
    display: flex;
    flex-direction: column;
    align-items:center;
    /*border-radius: 5px;*/
    background-color: #f2f2f2;
    padding:30px;
    height: 75vh;
}

input[type=submit] {
    background-color:black;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
}

input[type=submit]:hover {
    background-color: grey;
}

input[type=text], input[type=email], input[type="password"], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    resize: vertical;
}

/* SignUp Page */

#sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding:50px;
    
}


/* Responsive Media Queries */
/* Mobile CSS */


@media only screen and (max-width: 400px) {
    #top-nav > li > a {
       display: none;
    }

    .div-section {
       display: flex;
       flex-direction: column;  
    }

    #bottom-nav {
        display: none;
    }
    #my-para {
        display: flex;
        flex-direction: column;
        row-gap:20px;
    }
    #my-para > img {
        padding: 30px;
    }
    


/* Tablet */

/*@media only screen and (min-width: 400px) {}*/

    
/* Desktop */
/* Responsive with Flex */
/*@media only screen and (min-width: 800px) {}*/
    
    
    
        






